{% block content %}

<style>
  body{
    background-image:url('/static/sexy.jpg');
    background-repeat: no-repeat;
  }
  .list1{
      float: right;
    }

    .list{
      padding-bottom: 1cm;
    }
</style>
<body>
  <div class="this">
    <div class="row">
      <div class="col">
        <div class="list1">
          <h1>Hello and Welcome to the <br> Sex-Eductaion-Booths
          <br>
        Remember that age does not matter!!
      <br>
    Hence speak up</h1>


    <div class="introduction2">
      <h3>Below is a list of the chatrooms </h3>
    </div>
          <ol>
            <li class="list"> <strong>SexIntroduction</strong> <br> (Ask questions whether or not you are new to sex) </li>
            <li class="list" > <strong>Professional-room</strong> <br> (Chat with a professional)</li>
            <li class="list" > <strong>Chit-Chat</strong> <br> (seen something questionable? ask about it to all)</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</body>
{% endblock %}
